//***----------[ Constants Declaration ]----------***

//* Staff Members
$bureaucrats: ("Beckaaa", "IAmaPersonthatExists", "TotallyNotJullian")
$admins: ()
$content-moderators: ()
$thread-moderators: ()

//* Staff Badge icons
$badge-icons-bureaucrat: "https://static.wikia.nocookie.net/bubble-gum-simulator/images/2/27/Badge-Bureaucrat.png"
$badge-icon-admin: "https://static.wikia.nocookie.net/central/images/1/12/Badge-Admin.svg"
$badge-icon-content-moderator: "https://static.wikia.nocookie.net/central/images/e/ef/Badge-ContentModerator.svg"
$badge-icon-thread-moderator: "https://static.wikia.nocookie.net/central/images/5/50/Badge-DiscussionsModerator.svg"